# .gitignore

# macOS files
.DS_Store

# IDE settings
.vscode/

# Python virtual environments
.venv/
env/
venv/

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Unit test cache
.pytest_cache/

# Log files
*.log

# Environment variables
.env

# Project data directories
/ArxivPapers/
/DBMS/